
@keyframes move{
    
    from{

        transform: translateX(0px);
    }
    to{
        transform: translateX(20px);
    }
}

body {
  margin: 0;
  background: #91a3ce;
  font-family: sans-serif;
}

.intro-text {
  width: 90%;
  max-width: 300px;
  margin: 0 auto;
  margin-top: 10vh; 
  text-align: center;
  direction: rtl;
  font-family: 'Heebo', sans-serif;
  
}

.intro-text h1 {
  font-weight: 700;
  font-size: clamp(28px, 5vw, 42px);
  line-height: 1.3;
  color: #ffffff;
  margin-bottom: 20px;
  background: linear-gradient(90deg, #ffffff, #ffd6f6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    animation: float 2s ease-in-out infinite alternate;

}

.intro-text h5 {
  font-weight: 500;
  font-size: clamp(18px, 3.5vw, 24px);
  line-height: 1.6;
  color: #F2F2F4;
  opacity: 0.9;
}
.openPage {
  min-height: 100vh;
}
@keyframes float {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-3px);
  }
}