.carousel-screen {
  background: radial-gradient(circle at center, #1b2735 0%, #090a0f 100%);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
  direction: rtl;
  overflow: hidden;
  padding: 10px 0;
  overflow: hidden;
}

.header-area {
  text-align: center;
  padding: 20px 0;
}

.logo-img {
  max-width: 250px;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: slideUpFade 0.5s ease-out forwards;
  overflow: hidden;
}

.asteroid-title {
  font-size: 80%;
  margin-bottom: 30px;
  font-weight: bold;
}

.interaction-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 15px;
  max-width: 450px; /* מבטיח שהחיצים לא יברחו רחוק מדי במסכים גדולים */
  min-height: 50%;
}

.asteroid-frame {
  position: relative;
}

.asteroid-img {
  width: 60%;
  height: auto;
  z-index: 2;
}

.label-overlay {
  position: absolute;
  right: 2%;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 13px;
  z-index: 3;
}

.nav-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  transition: transform 0.2s;
}

.nav-btn img {
  width: 90%; /* גודל החיצים */
}

.v-hidden {
  visibility: hidden; 
}

.asteroid-description {
  text-align: center;
  font-size: 18px;
  line-height: 1.4;
  color: #e0e0e0;
  max-width: 85%;
  margin-top: 30px;
}

/* פוטר ונקודות */
.footer-area {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80px;
}

.pagination-dots {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-bottom: 10px;
}

.inactive-dot {
  width: 10px;
  height: 10px;
  background: #444;
  border-radius: 50%;
}

.active-dot-img {
  width: 20px;
  height: 20px;
}

.bottom-arrow {
  opacity: 0;
  transition: opacity 0.3s;
}

.bottom-arrow.visible {
  opacity: 1;
}

