
:root {
  font-size: calc(10px + 0.5vw);
  text-align: center;
  /* background: radial-gradient(circle at 20% 20%, #0e1447, #05081b);  */
  width: 100vw;
  color:  #f8faff; 
  font-family: 'ploni-regular-aaa';
}
@font-face {
  font-family: "hebbo";
  src: url("./assets/fonts/Heebo-Medium.ttf") ;
}


html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  direction: rtl;
  background: #0c0f16;
  font-family: "hebbo", sans-serif;
}

/* קונטיינר ראשי של האפליקציה */
.app {
  width: 100%;
  max-width: 430px;  
  min-height: 100vh;
  margin: 0 auto;

  display: flex;
  flex-direction: column;

  background: radial-gradient(circle at 20% 20%, #080a1b, #0c0e18);
}


.logo {
  height: 7rem;
  margin-right: 1rem;
  z-index: 1;
  filter: drop-shadow( 0 0 10px rgba(6, 12, 14, 0.1));
}

.till-logo {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 1;
  height: 4rem;
  width: 4rem;
}


.star{
  width: 2px;
  height: 2px;
  box-shadow: multi-box-shadow(2000);
  animation: move 50s infinite;
}
    
  
@keyframes move{
    
    from{

        transform: translateX(0px);
    }
    to{
        transform: translateX(20px);
    }
}

::selection{
    color: #05081b;
    background-color: #f8faff;
}