.end-page-wrapper {
    height: 100vh;
    width: 100%;
    overflow: hidden; /* חובה למניעת גלילה */
    background-color: #1a1a1a;
    background-image: radial-gradient(circle, #333 1px, transparent 1px);
    background-size: 30px 30px;
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
    align-items: center; 
}

.end-page-wrapper .progress-image {
    display: none !important;
}

/* לוגו מדור טיל */
.till-logo-end {
    position: absolute;
    top: 1%;
    left: 1%;
    width: 15%;
    z-index: 2;
}

/* אסטרואידים בצדדים */
.decor-asteroid {
    position: absolute;
    width: 12%;
    opacity: 0.6;
    z-index: 0;
}
.ast-left { left: -10px; top: 40%; transform: rotate(15deg); }
.ast-right { right: -10px; top: 60%; transform: rotate(-20deg); }

.end-main-container {
    width: 100%;
    max-width: 500px; 
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 27%; 
    box-sizing: border-box;
    z-index: 1;
}

.end-title {
    font-size: clamp(1.8rem, 6vw, 2.5rem);
    font-weight: 900;
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

.end-summary-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
}

.summary-navbar-img {
    width: 90%;
    max-width: 350px;
}

.white-line {
    width: 200px;
    height: 2px;
    background: white;
    margin-bottom: 15px;
}

/* כפתור */
.reset-button {
    background: rgba(255, 255, 255, 0.1);
    color: white;
    border: 1.5px solid white;
    padding: 12px 30px;
    border-radius: 15px;
    font-size: 1.1rem;
    font-weight: bold;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    backdrop-filter: blur(5px);
    animation: scale 2s alternate infinite;
}
@keyframes scale {
    100%{
        scale: 1.04;
    }
}

.alien-footer-section {
    position: absolute;
    bottom: -7%;
    left: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.speech-bubble-tail {
    background: white;
    color: black;
    padding: 8px 12px;
    border-radius: 15px 15px 15px 0;
    font-weight: bold;
    font-size: 0.8rem;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 5px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
    position: relative;
    bottom: 60%;
    border: 1px solid #999;
}

/* השפיץ של הבועה שפונה לחייזר */
.speech-bubble-tail::after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 0;
    border-left: 10px solid white;
    border-bottom: 8px solid transparent;
}

.alien-graphic {
    width: 40%;
    position: relative;
    left:-35%;
}

/* תיקונים למסכים קטנים מאוד */
@media (max-width: 380px) {
    .end-main-container { padding-top: 30%; }
    .end-title { font-size: 1.6rem; }
    .summary-navbar-img { width: 85%; }
}